/*Trabajo*/
@font-face {
  font-family: Macondo;
  src: url(Macondo-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(Raleway.ttf);
}

h2 a{
  font-family: Raleway;
  color: #ffffff;
}

h2 a:link {
  color: #ffffff;
}

h2 a:hover {
  color: #f20fb6;
  text-decoration: none;
}

h2 a:active {
  color: #f29828;
  text-decoration: none;
}
.logorestaurante{
  width: 200px;
  height: 200px;
  display: block;
margin: auto;
background-color: black;
}
table {
width: 100%;
border-collapse: collapse;
}

th, td {
border: 1px solid #dddddd;
padding: 8px
}

th {
background-color: #00000044;
color: #ffffff;
text-align: center;
font-family: Raleway;
}

td {
background-color: #ffffffaa;
}

.cambiar-estado {
background-color: green;
color: white;
border: none;
padding: 8px 12px;
cursor: pointer;
}
input[type="text"] {
padding: 0.5em;
margin-bottom: 1em;
width: 300px;
}

input[type="submit"] {
background-color: blue;
color: white;
padding: 0.5em 1em;
border: none;
cursor: pointer;
}
body {
background-image: url("imagenes/background_login_restaurante.jpg");
background-size: cover;
}
.form-container {
width: 500px;
margin: 0 auto;
padding: 1em;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 10px;
}

.closed {
color: #4f4f4f;
background-color: #ddddddaa;
}



/*
Indice:
clase_0: hipervinculos
clase_1: h2, clase_2 y 3: p
*/
/* esto solo aplica a todos los que estan dentro de "div" */
div > .clase_2{
    font-size: 25px;
    font-family: 'Macondo', cursive;
    color: rgb(108, 230, 134);/*color de texto*/
    text-shadow: 1px 1px 1px black;/*Sombra al texto*/
}
h2{
    font-size: 30px;
    color: rgb(241, 168, 84);/*color de texto*/
    text-shadow: 1px 1px 1px black;/*Sombra al texto*/
}
.clase_3{
    font-size: 25px;
    font-family: 'Macondo', cursive;
    
}
.clase_3, .clase_0, h1{
    text-align: center;
    color: white;/*color de texto*/
    text-shadow: 1px 1px 1px black;/*Sombra al texto*/
}
.clase_0{
  font-size: 20px;
  text-shadow: 0px 0px 0px black;
}
/*Imagen a la derecha de todo*/
.alinear_der{
    text-align: right;
        
}

/* Poner una imagen como fondo de pantalla*/
body {
    background-image: url("/imagenes/bg.jpg");
    background-size: 20%;
    
}

/* spacing */

  table {
    table-layout: fixed;/*dar a las columnas un tamaño segun el 
    ancho de sus celdas*/
    width: 100%;/*La tabla intentara ajustar su contenido (letras)
    con el espacio rectangular en donde fue ubicado.*/
    border-collapse: collapse;/*Quitar los bordes de la tabla,
    mejor conocido como espacios en blaco que rodea la tabla*/
  } 
/* typography */
  thead th {
    font-family: 'Macondo', cursive;
  }
  /* th=encabezado y td=cuerpo
  letter-spacing=espacio entre letras de una palabra.
  arbol != a r b o l*/
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  /*Centrar el texto tanto el encabezado como el cuerpo*/
  tbody td {
    text-align: center;
  }
  /*tfoot es un encabezado pero en la parte inferior de la tabla*/
  /*
  tfoot th {
    text-align: right;
  }
  */
  /*Diseño*/
  thead {
    /*imagen gif*/
    background: url("/imagenes/f8b0d8ba8a7fd9a480f88e9cd347ae6e.gif");
    color: white;/*color de texto*/
    text-shadow: 1px 1px 1px black;/*Sombra al texto*/
  }
  /*Sombra que se le agrega a la imagen*/
  thead th {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    
  }
  /*Bordado a la tabla*/
  tr{
    border: 3px solid rgb(0, 0, 0);
  }
  /*Tipo y tamaño de la letra del cuerpo de la tabla*/
  td{
    font-size: 25px;
    color:rgb(248, 179, 31);
    font-family: 'Macondo', cursive;
    text-shadow: 1px 1px 1px black;/*Sombra al texto*/
  }
  /*Centrar las cajas donde se ingresa el texto*/ /* Centrar todo-*/
  .centrar{
    text-align: center; /*Texto centrado*/
    display: table; /*Tambien sirve pa centrar tabla*/
    margin: auto; /*tabla centrada dentro de la página*/
  }
  .centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#contenedorcentrado {
  
  
  background-color: #c4aae7;
  
  /*opacity: 0.50;
  filter: alpha(opacity=50);*/
  
  
  
  padding: 30px;
  box-sizing: border-box;
}

.topnav a {
  background-color: #3c268b;
  color: #ffffff;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  font-family: Raleway;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #f20fb6;
  color: #ffffff;
  text-decoration: none;
}

.topnav .current{
  background-color: #00000000;
}

.topnav a:active {
  background-color: #f29828;
  color: #ffffff
}




















